menuconfig HWINFO_SUPPORT
	bool "Enable hwinfo extensions"
	help
	  All sagereal basic APIs is put to drivers/misc/hwinfo directory.
	  There are hwinfo, gesture, debug, misc and so on.
	  Say N only if you want to build MTK origin version.

if HWINFO_SUPPORT
config CUSTOM_HWINFO
	bool "Enable Custom hwinfo interface"
	help
	  If enabled, /sys/sr/hwinfo directory hold many
	  hardware module information, such as TP vendor.
	  It is required by MIDtest APK.

config CUSTOM_MISC
	bool "Enable Custom hardware control misc interface"
	help
	  Some device export interface (other than gesture hwinfo debug or so) for system level control,
	  We put them under /sys/sr/misc

config CUSTOM_PERFGOV_ENHANCEMENT
	bool "performance governor enhancement"
	help
	  If enabled, support performance governor enhancement

config CUSTOM_CHARGE_SUPPORT
	bool "Custom charge driver support"
	default y
	help
	  Custom charge driver support.

config TOUCHPANEL_CHARGE_NOISE
    config TOUCHPANEL_CHARGE_NOISE
	bool "Enable touchpanel charge noise interface"
	help
	  If enabled, set notifier from kernel to module
endif # HWINFO_SUPPORT
